.App {
  text-align: center;
}

.post-container {
  display: grid;
  padding: 30px 0;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.post-card {
  background-color: rgb(23, 1, 53);
  padding: 20px 30px;
  color: #f0f0f0;
  border-radius: 10px;
  text-align: left;
}

.load-more {
  margin-bottom: 50px;
  margin-top: 30px;
}
.load-more button {
  background-color: rgb(23, 1, 53);
  color: white;
  padding: 15px 30px;
  border-radius: 7px;
}

